<div class="container user">

  <div class="row well ">
    <h1 class="text-center"><%= @user.name %></h1>
    <div class="image col-md-5"><%= image_tag(@user.avatar, size: '200x200') %></div>
    <div class="col-md-5">
      <h2>You Have <%= @user.followers.count %> followers </h2>
      <h2>You Are Following <%= @user.following.count %> people </h2>
      <h2>You Have Starred <%= @user.starred.count %> repos </h2>
      <%= button_to "Logout", logout_path, method: :delete, class: 'btn btn-info' %>
    </div>
  </div>

  <div class="user_tabs">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#repos" aria-controls="home" role="tab" data-toggle="tab">Your Repos</a></li>
      <li role="presentation"><a href="#organizations" aria-controls="profile" role="tab" data-toggle="tab">Organizations</a></li>
      <li role="presentation"><a href="#yourfeed" aria-controls="messages" role="tab" data-toggle="tab">Your Recent Activity</a></li>
      <li role="presentation"><a href="#othersfeed" aria-controls="settings" role="tab" data-toggle="tab">Recent Activity - Following</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="repos">
        <ul>
          <% @user.repos.each do |repo| %>
            <li><%= link_to repo["name"], repo["html_url"], target: "blank" %></li>
          <% end %>
        </ul>
      </div>

      <div role="tabpanel" class="tab-pane" id="organizations">
        <ul>
          <h2>Organizations:</h2>
          <% @user.organizations.each do |org| %>
          <li><%= link_to org["login"], org["url"] %></li>
          <% end %>
        </ul>
      </div>

      <div role="tabpanel" class="tab-pane" id="yourfeed">
        <ul>
          <h2>Events For Logged In User</h2>
          <% @user.filtered_individual_events.each do |event| %>
            <li><%= event.event_description %></li>
          <% end %>
        </ul>
      </div>

      <div role="tabpanel" class="tab-pane" id="othersfeed">
        <ul>
          <% @user.filtered_following_events.each do |event| %>
              <li> <%= event.event_description %> </li>
          <% end %>
         </ul>
      </div>
    </div>
  </div>
</div>
