<div class="container user">

  <div class="row well ">
    <h1 class="text-center"><%= current_user.name %></h1>
    <div class="image col-md-5"><%= image_tag(current_user.avatar, size: '200x200') %></div>
    <div class="col-md-7">
      <h2><%= link_to @git_accessor.followers.count, followers_path %> Followers,
      <%= link_to @git_accessor.following.count, followings_path %> Following,
      <%= link_to @git_accessor.starred.count, stars_path %> Starred</h2>
      <%= button_to "Logout", logout_path, method: :delete, class: 'btn btn-info' %>
    </div>
  </div>

  <div class="user_tabs">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#repos" aria-controls="home" role="tab" data-toggle="tab">Your Repos</a></li>
      <li role="presentation"><a href="#organizations" aria-controls="profile" role="tab" data-toggle="tab">Organizations</a></li>
      <li role="presentation"><a href="#yourfeed" aria-controls="messages" role="tab" data-toggle="tab">Your Recent Activity</a></li>
      <li role="presentation"><a href="#othersfeed" aria-controls="settings" role="tab" data-toggle="tab">Recent Activity - Following</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="repos">
        <ul>
          <% @git_accessor.repos.each do |repo| %>
            <li><%= link_to repo.name, repo.html_url, target: "blank" %></li>
          <% end %>
        </ul>
      </div>

      <div role="tabpanel" class="tab-pane" id="organizations">
        <ul>
          <h2>Organizations:</h2>
          <% @git_accessor.organizations.each do |org| %>
          <li><%= link_to org.login, org.url %></li>
          <% end %>
        </ul>
      </div>

      <div role="tabpanel" class="tab-pane" id="yourfeed">
        <ul>
          <h2>Events For Logged In User</h2>
          <% @git_accessor.events.each do |event| %>
            <li><%= event.event_description %></li>
          <% end %>
        </ul>
      </div>

      <div role="tabpanel" class="tab-pane" id="othersfeed">
        <ul>
          <% @git_accessor.following_events.each do |event| %>
              <li> <%= event.event_description %> </li>
          <% end %>
         </ul>
      </div>
    </div>
  </div>
</div>
